<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Furima46195" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# PAY.JP 公開鍵 %>
    <meta name="payjp-public-key" content="<%= ENV.fetch('PAYJP_PUBLIC_KEY', '') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# ここに各ページ用の <script> が挿入される %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
