<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<!-- app/views/layouts/application.html.erb -->
<meta name="payjp-public-key" content="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
<script src="https://js.pay.jp/v2/"></script>

  <%= stylesheet_link_tag "application", media: "all" %>

  <%= javascript_importmap_tags %>
</head>

<body>
  <%= yield %>
</body>

</html>